<!DOCTYPE html>
<html lang="en">
    
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>TherapEase - Patients List Page</title>

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- Bootstrap JS Bundle (includes Popper) -->
		 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/img/logo.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="/css/feathericon.min.css">
		
		<!-- Datatables CSS -->
		<link rel="stylesheet" href="/plugins/datatables/datatables.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/css/style.css">
		
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				 <!-- Logo -->
				 <div class="header-left">
					<a href="/dashboard" class="logo">
					<img src="/img/logo.png" alt="Logo" width="140" height="50">
					</a>
					<a href="/dashboard" class="logo logo-small">
					<img src="/img/logo-small.png" alt="Logo" width="100" height="70">
					</a>
				</div>
			<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>
				
				<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">


					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img class="rounded-circle" src="/img/profiles/avatar-01.jpg" width="31" alt="Ryan Taylor"></span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6><%= admin.username %></h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</div>
							<a class="dropdown-item" href="/dashboard">My Profile</a>
							<a class="dropdown-item" href="/logout">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
			<!-- /Header -->
			
			 <!-- Sidebar -->
			 <div class="sidebar" id="sidebar">
				<div class="sidebar-inner slimscroll">
				  <div id="sidebar-menu" class="sidebar-menu">
					<ul>
					  <li >
						<a href="/dashboard"
						  ><i class="fe fe-home"></i> <span>Dashboard</span></a
						>
					  </li>
					  <li>
						<a href="/profile"
						  ><i class="fe fe-user"></i> <span>Profile</span></a
						>
					  </li>
		
					  <li>
						<a href="/appointment-list"
						  ><i class="fe fe-layout"></i> <span>Appointments</span></a
						>
					  </li>
					  <li>
						<a href="/therapist-list"
						  ><i class="fe fe-user"></i> <span>Therapists</span></a
						>
					  </li>
					  <li class="active">
						<a href="/patient-list"
						  ><i class="fe fe-user"></i> <span>Patients</span></a
						>
					  </li>
					  <li>
						<a href="/transactions-list"
						  ><i class="fe fe-activity"></i> <span>Transactions</span></a
						>
					  </li>
					  <li>
						<a href="/Therapist-approval"><i class="fe fe-user-plus"></i> <span>Therapist Approval</span></a>
		
					  </li>
					  <li >
						<a href="/payment-approval"><i class="fe fe-file"></i> <span>Payment Approval</span></a>
		
					  </li>
					</ul>
				  </div>
				</div>
			  </div>
			  <!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">List of Patients</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
									<li class="breadcrumb-item active">Patients</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<div class="table-responsive">
										<table class="datatable table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>Patient Name</th>
													<th>Spent</th>
													<th>Badge</th>
													<th>Actions</th>
													
												</tr>
											</thead>
											<tbody>
												<% patients.forEach (patient => { %>
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href="/patient-profile"><%= patient.username %> </a>
														</h2>
													</td>
													<td>PKR 3000</td>
													<td>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
													</td>
													<td>
														<form action="/delete-patient/<%= patient._id %>" method="POST">
															<button type="submit" class="btn btn-danger">Delete</button>
														  </form>
													</td>
												</tr>
												<% }); %>
											</tbody>
										</table>
									</div>
									</div>
								</div>
							</div>
						</div>			
					</div>
					
				</div>			
			</div>
			<!-- /Page Wrapper -->
		
		<!-- /Main Wrapper -->
		<% if (messages.successMessage) { %>
			<script>
			  alert("<%= messages.successMessage %>");
			</script>
		  <% } %>
		<!-- jQuery -->
        <script src="/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<!-- Datatables JS -->
		<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="/plugins/datatables/datatables.min.js"></script>
		
		<!-- Custom JS -->
		<script  src="/js/script.js"></script>
		
    </body>

</html>